@import './../../../styles.scss';


.grid-container {
    display: grid;
    gap: 10px;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.card {


    & .card-header {
        display: flex;
        justify-content: flex-end;
    }
}

form {
    display: grid;
    gap: 16px;
    grid-template-columns: 200px 1fr;

    & form {

    }

    & input {

    }
}