<div class="grid-container">
    <div class="nav">
        <div class="logo">Logo</div>
        <ul class="nav__list-left">
            <li class="nav__list-leftitem">
                <a href="#">Dashboard</a>
            </li>
            <li class="nav__list-leftitem">
                <a href="#">Fish</a>
            </li>
            <li class="nav__list-leftitem">
                <a href="#">Users</a>
            </li>
        </ul>
        <ul class="nav__list-right">
            <li class="nav__list-rightitem">
                <p>John Alexander</p>
            </li>
            <li class="nav__list-rightitem">
                <a href="#">Logout</a>
            </li>
        </ul>
    </div>
    <main class="main">
        <div class="main__card">1</div>
        <div class="main__card">2</div>
        <div class="main__card">3</div>
        <div class="main__card">4</div>
        <div class="main__card">5</div>
        <div class="main__card">6</div>
        <div class="main__card">7</div>
        <div class="main__card">8</div>
    </main>
    <footer class="footer">
        <div class="footer-text">
            FishPrizze &copy; 2021
        </div>
    </footer>
</div>
